*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.container{
    width: 90%;
   max-width: 1200px;
    /* margin-left: auto;
   margin-right: auto; */
   margin: auto;
}
.common-btn{
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    background-color: #1d4ed8;
    cursor: pointer;
}
header{
    background-color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}
nav ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 8px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #575757;
}
.hero{
    background-image: url('./assets/banner.jpg');
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
/* .hero-parent-div{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
} */
.hero h1{
    font-size: 50px;
    color: white;
    margin-top: 100px;
    margin-bottom: 20px;
}
.hero div{
    background-color: black;
    width: max-content;
    height: 20px;
    margin-bottom: 40px;
}
.hero p{
    color: white;
}
.hero button{
   margin-top: 180px;
   width: 15%;
}
.speaker{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.speaker-h2{
    font-size: 35px;
    margin-bottom: 40px;
    color:#000102
}
.speaker-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.speaker-card{
   height:400px;
    border-radius:12px;
    overflow:hidden;
    border:1px solid #e5e7eb;
    display:flex;
    flex-direction:column;
.speaker-img{
  flex:3;
}
}
.speaker-img img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.speaker-info{
     flex:1;
    padding:18px;
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap: 5px;

}
.speaker-info-p1{
    color: #2563EB;
}
.speaker-info-p2{
    color: #575757;
}
.secure{
    display: flex;
    flex-direction: column;
   align-items: center;
   margin-bottom: 70px;
}
.secure-h2{
  margin-bottom: 8px;
  font-size: 35px;
  color: #000102;
}
.secure-p{
   margin-bottom: 8px;
   font-size: 13px;
   color: #575757;
}
.secure-div{
    display: flex;
    gap: 100px;
    margin-top: 12px;
    justify-content: space-between;
}
.secure-div1,.secure-div3{
    border:1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 16px;
    padding:30px;
    overflow: hidden;
    height: 350px;
}
.secure-div1 p,.secure-div3 p{
  color: #575757;
}
.secure-div1 h2,.secure-div3 h2{
  color: #000102;
  font-size: 35px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.secure-div1 ul{
    list-style: circle blue;
}
.secure-div1 ul li{
    line-height: 22px;
}
.secure-div3 ul li,.secure-div2 ul li{
   line-height: 30px;
}
.secure-div1 button{
    font-weight: bold;
    color: #2563EB;
    border-radius: 5px;
    padding: 6px 8px;
    border: 1px solid #1d4ed8;
    background-color: white;
    cursor: pointer;
}
.secure-div3 button{
    font-weight: bold;
    color:#000102;
    border-radius: 5px;
    padding: 6px 8px;
    border: 1px solid #000102;
    background-color: white;
    cursor: pointer;
}
.secure-div2{
    border:1px solid #0D1B2A;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 16px;
    padding:30px;
    overflow: hidden;
    height: 350px;
    background-color:#0D1B2A;
   
}
.secure-div1,.secure-div2,.secure-div3{
    flex: 1;
}
.secure-div2 h2{
 color:white;
  font-size: 35px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;   
}
.secure-div2 button{
     font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 6px 8px;
    border: 1px solid #1d4ed8;
    background-color:#1d4ed8 ;
    cursor: pointer;
}